.header{
    background-color:goldenrod;
    
     background: linear-gradient(
        90deg, red, orange, yellow, lime, cyan, blue, violet, red);

    background-size: 40%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: namaMove 5s linear infinite;
}


@keyframes namaMove{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.profile-detail{
    background-color:black;
}

.nama{
     background: linear-gradient(
        90deg, red, orange, yellow, lime, cyan, blue, violet, red);

    background-size: 250%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: namaMove 5s linear infinite;
}


@keyframes namaMove{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.profile-photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
    border: 3px solid  goldenrod;
}
.profile-detail {
    width: min(900px, 100%);
    margin: 32px auto;
    padding: 24px;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 32px;
    background-color: black;
    border: 3px solid goldenrod;
    border-radius: 16px;
}

 body{
    background-color: black;
    }


 .back-link {
    color:black;
     background: linear-gradient(
        90deg, red, orange, yellow, lime, cyan, blue, violet, red);

    background-size: 2500%;
    animation: namaMove 5s linear infinite;
}


@keyframes namaMove{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
    
 }
